@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Software Development Company</h1>
    <B><p>A place where all the company tasks are managed</p></B>
</div>
